.card {
  height: 90vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.card .product-img, 
.card .product-text {
  width: 100%;
}

.card .product-img {
  height: 40%;
}

.card .product-img img {
  object-position: 50% 30%;
}

.card .product-img .product-text {
  height: 60%;
}

@media (max-width: 361px) {
  .card {
    overflow: scroll;
  }
}